<nav  style="background-color: #131921">
 <div>
    <img style="height: 70px; " src="/assets/amazonlogo.png" alt="logo">

 </div>
 <ul>
    <li>
      <a routerLink="/">

        <button class="b1">
          <img style="height: 50px;" src="/assets/amazon.png" alt="logo">
          
        </button>
      </a>
    </li>
    <li>
      <a routerLink="/miniTv">

        <button class="b2"><img style="height: 50px;" src="/assets/minitv.png" alt="logo">
        </button>
      </a>
    </li>
  </ul>
  </nav>
<router-outlet></router-outlet>

